<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid ">

    <a class="navbar-brand" href="/Listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <a class="nav-link" href="/Listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/Listings/search" method="post">
          <input class="form-control search-input me-2" id="search-box" placeholder="Search" aria-label="Search" name="title">
          <div id="suggestions" class="suggestion-box"></div>
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      
      <div class="navbar-nav ms-auto bg-light">
        
          <a class="nav-link" href="/Listings/new">Add new Listing</a>
          <% if(!currUser) {%>
            <a class="nav-link" aria-current="page" href="/signup"><b>Sign up</b></a>
            <a class="nav-link" href="/login"><b>Log in</b></a>
          <%  } else {%>           
            <a class="nav-link" href="/logout"><b>Log out</b></a>
          <%} %>
  
 
      </div>

    </div>
  </div>
</nav>

<script>

  const searchBox = document.getElementById("search-box");
  const suggestionsDiv = document.getElementById("suggestions");
  const searchBtn = document.querySelector(".btn-search");

  searchBox.addEventListener("input", async () => {
    const query = searchBox.value.trim();
    if (!query) {
      suggestionsDiv.innerHTML = "";
      return;
    }

    const res = await fetch(`/search-suggestions?q=${encodeURIComponent(query)}`);
    const suggestions = await res.json();

    suggestionsDiv.innerHTML = suggestions.map(item =>
      `<div class="suggestion-item">${item}</div>`
    ).join("");

    // Add click handler
    document.querySelectorAll(".suggestion-item").forEach(el => {
      el.addEventListener("click", () => {
        searchBox.value = el.textContent;
        suggestionsDiv.innerHTML = "";
        searchBtn.click();
      });
    });

  });
</script>
