<% layout('/layouts/boilerplate') %>

<div class="row mt-3">
    <h2 class="col-6 offset-3"> Sign up for Airbnb</h2>
    <div class="col-6 offset-3">

        <form action="/signup"  method="post" novalidate class="needs-validation">

            <div class="mb-3">
                <label for="username" class="form-lable">Username</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  id="username"
                  required
                />
                <div class="valid-feedback">
                  UserName looks good !
                </div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-lable">Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="email"
                  required
                />
                <div class="valid-feedback">
                  Looks good !
                </div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-lable">Password</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="password"
                  required
                />
                <div class="valid-feedback">
                  Looks good !
                </div>
            </div>

            <button class="btn btn-success"> SignUp</button>

        </form>

    </div>
</div>